@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento por página)
    em HTML é class = em CSS é . (pode vários elementos por página)
*/

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

h1#principal { /*com id colocamos o nome da tag antes da identificação*/
    text-align: center;
    font-weight: 900;
    font-style: italic;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico { /*com class não colocamos o nome da tag antes da identificação*/
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}