@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    background-image: linear-gradient(to bottom, #4C669F, #1A306A);
    background-attachment: fixed;
    text-align: center;
}

img {
    margin-top: 80px;
    margin-bottom: 30px;
}

input {
    width: 280px;
    height: 28px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    margin-top: 20px;
    width: 265px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: #3D64A5;
    color: white;
    font: 19px 'roboto', sans-serif;
    cursor: pointer;
}